.container {
    max-width: 500px;
}
table {
    border-radius: 0.75rem;
    border: 2px solid #2125290d;
}

td .letter {
    text-align: center;
    color: rgb(11, 0, 167);
    font-size: 1.5rem;
    background: #007bff17;
    border-radius: 0.5rem;
    border: 2px solid #2125290d;
}

.list-group {
    margin-bottom: 40px;
}
